* {
	color: black;
}

body {
	padding-top: 50px;
	background-image: url("nether_brick.png"); /*PLACEHOLDER*/
	/*min-height: 2000px;*/
}

.dupa {
	background-color: white;
}

.jumbotron {
	margin-top: 20px;
}

.mainFeed {
	/*background-color: gray;*/
}

.navbar {
	/*background-color: gray;*/
}


.sideBar {
	background-color: red;
}


.post-readMore {
	float: left;
}

.post-numberOfComments {
	float: right;
}

.post-title {
}


.footer {
	min-height: 100px;
	margin-bottom: -10px;
	background-color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.footer-text {
	color: white;
}

